/* import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* Initalize css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Add background to main */
body{
    background-color: rgb(230, 230, 230);
}
/* CSS Header */
/* Add background to header */
header{
    background-color: #fff;
}
/* logo header */
.logo{
    margin: 10px 20px;
    vertical-align: middle;
}
/* Text header */
h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
    font-size: 35px;
}
/* CSS main */
/* Spacing main content */
.container{
    width: 70%;
    margin: 0 auto;
}
/* Header of main */
.head-main{
    margin-top: 50px;
    padding: 10px 30px;
    background-color: #fff;
}
/* Button blue */
.btn{
    padding: 7px 10px;
    font-size: 12px;
    border-radius: 5px;
}
.blue{
    border: none;
    background-color: deepskyblue;
    color: #fff;
}
/* Button white */
.white{
    border: 1px lightgrey solid;
    background-color: #fff;
    color: lightgray;
}
/* second section of main */
.content{
    margin-top: 2px;
    background-color: #fff;
    padding: 30px 70px;
}
/* Remove all list style of all list */
ul{
    list-style: none;
    margin-bottom: 20px;
}
li{
    line-height: 2;
    font-weight: 500;
}
/* span to the left of h2 */
.dash{
    font-size: 12px;
}
/* List item check */
.id{
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    font-weight: 800;
    padding: 2px 4px;
    margin-right: 5px;
}
.check{
    color: lightgreen;
    border: 1px lightgreen solid;
}
/* List item cross */
.cross{
    color: red;
    border: 1px red solid;
}
/* Button of main */
.button{
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}
/* colors of button */
.editorial{
    background-color: deepskyblue;
}
.goals{
    background-color: darkorchid;
}
.recruting{
    background-color: cadetblue;
}
.mobile{
    background-color: orange;
}
.site{
    background-color: pink;
}
.sales{
    background-color: yellowgreen;
}